
* {
  box-sizing: border-box;
}

body{
  background-color:#D8BFD8;
}

#playing-cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  
}

.card{
  display: flex;
  justify-content: space-between;
  width: 45vh;
  height: 70vh;
  background-color: white; /*Makes the card visible */
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: 10px 0px 4px rgba(0, 0, 0, 0.2); /* Card shadow horizontal, vertical, blur, spread, color, inset*/
}

/*  
Example of how to use box-shadow:
.box {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
 
means: 5px right, 5px down, 10px blur, dark color 
*/

/* 
#first ::before{
    content: "A";
    font-size: 2rem;
}

*/

.left{
  align-items:center;
  align-self: flex-start;
  font-size: 35px;
  position: relative;
  top: 20px;
  left: 10px;
  display: flex;
  flex-direction: column;
}

.right{
  align-items: center;
  align-self: flex-end;
  position: relative;
  bottom: 20px;
  right: 10px;
  font-size: 35px;
  transform: rotate(180deg);
}

.middle{
  display: flex;
  flex-direction: column;
  align-self: center;
  position: relative;
  font-size: 70px;
  right: 10px;
}

#playing-cards .card:first-child .left::before{
    content: "A";
}

#playing-cards .card:nth-child(2) .left::before{
    content: "2";
}

#playing-cards .card:nth-child(2) .middle:nth-child(3){
    transform: rotate(180deg);
}


/* 
.card:nth-child(2) .middle:nth-child(2) {
  position: absolute;
  top: 35%; /* First club - adjust as needed */
  left: 50%;
  transform: translateX(-50%);
  font-size: 70px;
}


*/


