
* {
  box-sizing: border-box;
}

body{
  background-color:#D8BFD8;
}

#playing-cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  
}

.card{
  display: flex;
  justify-content: space-between;
  width: 45vh;
  height: 70vh;
  background-color: white; /*Makes the card visible */
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: 10px 0px 4px rgba(0, 0, 0, 0.2); /* Card shadow horizontal, vertical, blur, spread, color, inset*/
}

/*  
Example of how to use box-shadow:
.box {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
 
means: 5px right, 5px down, 10px blur, dark color 
*/

/* 
#first ::before{
    content: "A";
    font-size: 2rem;
}

*/

.left{
  align-items:center;
  align-self: flex-start;
  font-size: 35px;
  position: relative;
  top: 20px;
  left: 10px;
  display: flex;
  flex-direction: column;
}

.right{
  align-items: center;
  align-self: flex-end;
  position: relative;
  bottom: 20px;
  right: 10px;
  font-size: 35px;
  transform: rotate(180deg);
}

.middle{
  display: flex;
  flex-direction: column;
  align-items: center; /* center horizontally */
  justify-content: center;  /* center vertically */
   /* gap: 0.15em; small vertical spacing */
  position: static;
  font-size: 70px;
  right: 0;
}


#playing-cards .card:first-child .left::before{
    content: "A";
    font-size: 2rem;
}

#playing-cards .card:first-child .right::before{
    content: "A";
    font-size: 2rem;
    display: block; /*ensure it's own inline element */
    transform: translateY(1px); /* Move A on right down by 20 */

}


#playing-cards .card:nth-child(2) .left::before{
    content: "2";
    font-size: 2rem;
}

#playing-cards .card:nth-child(2) .right::before{
    content: "2";
    font-size: 2rem;
    display: block; /*ensure it's own inline element */
    transform: translateY(1px) translateX(4px); /* nudge down; nudge up; change value as needed */
    
}

.middle .symbol:last-child{
  transform: rotate(180deg); /*makes the lower symbol opposite */
  display: block;
  text-align: center;

}


/* Targets the middle pair to move it slightly upwards on the club card */
#playing-cards .card:nth-child(2) .middle{
  align-self: center; /* Keeps centered horizontally */
  transform: translateY(-6%);/* nudge up; change as needed*/
  transform: translateX(20%); /* nudge right; change as needed */

}



