* {
  box-sizing: border-box;
}

body{
  background-color:#D8BFD8;
}

#playing-cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  
}

.card{
  display: flex;
  justify-content: space-between;
  width: 50vh;
  height: 50vh;
  background-color: white; /*Makes the card visible */
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: 10px 0px 4px rgba(0, 0, 0, 0.2); /* Card shadow horizontal, vertical, blur, spread, color, inset*/
}

/*  
Example of how to use box-shadow:
.box {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
 
means: 5px right, 5px down, 10px blur, dark color 
*/

.left{
  align-items:center;
  align-self: flex-start;

}

.right{
  align-items: center;
  align-self: flex-end;
}

.middle{
  display: flex;
  flex-direction: column;
  align-self: center;
}